# PostgreSQL en Neon
DATABASE_URL=postgresql://neondb_owner:npg_24ygwNfLnoCU@ep-snowy-mouse-ai2qasyt-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require
NODE_ENV=production

# JWT Secret
JWT_SECRET=veterinaria-secret-key-production-2026

# Puerto
PORT=3001
