[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://api-express-mysql-de-jime.onrender.com/api/v1"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
